[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
scrapy = "*"
aiohttp = "*"
aiofiles = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
